version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile

    container_name: todo_api_server

    restart: always

    ports:
      -"8080:8080"

    environment:
      - PORT=8080